@using Microsoft.AspNet.Identity
@using IslandEscape.Controllers
@model IEnumerable<IslandEscape.SavdGameState>

@{
    ViewBag.Title = "Previous Games";
    string user_id = User.Identity.GetUserId();
    string user_name = User.Identity.GetUserName();
    string config = ConfigurationsController.GetConfigurationURLPart(user_id);
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@string.Format("../Game/game.html?userid={0}&username={1}{2}", user_id, user_name, config)">Start New Game</a>
</p>
<table class="table">
    <tr>
        <th>
            Last Saved
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            Game ID
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Saved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Id) (Difficulty: @Html.DisplayFor(modelItem => item.Game.IntensityDesc))
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>@if (item.UserId == user_id && item.IsPlayable) { 
            <a href="@string.Format("../Game/game.html?gameid={0}&userid={1}&username={2}&progress={3}&intensity={4}{5}",item.GameId, item.UserId, item.User.UserName, item.Progress, item.Game.IntensityLevel, config)">Continue Playing</a>}
        </td>
    </tr>
}

</table>
